*{
  /* font-size: 1px; */
  font-family: fantasy;
 }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body{
  padding: 0px;
  margin: 0px;

}
header{
  font-family: fantasy;
}
.page-start{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 34, 44);
  animation-name: page-start;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes page-start{
  50%{
    background-color: rgb(35, 34, 44);
  }
  100%{
    visibility: hidden;
    display: none;
  }
}

.navbar{
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 3;
  width: 100%;
  height: 6rem;
  background-color: rgb(10, 11, 65);
}
.name{
  color: white;
  font-size: 5rem;
  padding-left: 1rem;
}
.games{
  /* background-color: white; */
  margin-left: 5rem;
  padding: 25px;
  /* margin-right: 15rem; */
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color:transparent;
  /* background: rgb(30, 26, 171); */
}

.nav-game{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  width: 10rem;
  transition: 100ms;
  z-index: 3;
  border-radius: 0.25em;
  background-color: transparent;
  color:  rgb(25, 128, 212);
  border: rgb(25, 128, 212) 1px solid;
  border-radius: 0.25em;
}

/* .nav-game::before{
  content: '';
  width: 1px;
  height: 20%;
  background-color: rgba(225 225 225 / 40%);
  margin-right: 45px;
}
.nav-game::after{
  content: '';
  width: 1px;
  height: 20%;
  background-color: rgba(225 225 225 / 40%);
  margin-left: 45px;
} */
.nav-game:hover{
 color:rgb(19, 16, 56);
  background: linear-gradient(90deg,  rgb(3, 132, 212)0%, rgba(27,171,255,1) 100%);
}

.nav-game:active{
  text-decoration-color: rgb(207, 28, 252);
}

.nav-login{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-right: 0px; */
  float: right;
  width: 25rem;
  /* background-color: rgb(30, 26, 171); */
}
.sidebar{
  animation-name: width-back;
  animation-duration: 500ms;
  animation-fill-mode: forwards;

  justify-content: flex-start;
  position: fixed;
  margin-top: 6rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3%;
  background-color: rgb(19, 16, 56);
  z-index: 3;

  
}
.sidebar-item:last-child{
  margin-top: auto;
  margin-bottom: 100px;
}

.sidebar-item{
  animation-name: width-back;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  height: 3rem;
  
  border-radius: 0.25em;
  background-color: transparent;
  color:  rgb(25, 128, 212);
  border: rgb(25, 128, 212) 1px solid;
  border-right: none;
  border-left: none;

  width: 5rem;
  /* background: linear-gradient(90deg, rgba(27,171,255,1) 0%, rgba(0,157,255,1) 100%); */
  border-radius: 0.25em;


}
.sidebar-item:hover{
  color:rgb(19, 16, 56);
  background: linear-gradient(90deg,  rgb(3, 132, 212)0%, rgba(27,171,255,1) 100%);
}
.sidebar:hover{
  animation-name: width, sidebar-fade;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  /* background-color: orange; */
}

.item-name{
  animation-name: text-fade-back;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
  /* display: none; */
  margin-top: 1rem;
  margin-left: 50%;
  /* transform: scaleX(0.0); */
}

.item-icon{
  margin-top: 0.5rem;
  margin-left: 1.4rem;
}
.item-icon img{
  position: fixed;
  width: 2rem;
  height: 2rem;
}
.sidebar:hover .item-name{

  display: block;
  animation-name: text-fade;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}

.sidebar:hover .sidebar-item{
  animation-name: width;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes text-fade-back{
  0%{
    transform: scaleX(1);
  }
  100%{
    transform: scaleX(0);
  }
}
@keyframes text-fade{
  0%{
    transform: scaleX(0.0);
  }
  100%{
    transform: scaleX(1);
  }
}
@keyframes width {
  50%{
    width: 12rem;
  }

  100%{
    width: 11rem;
  }
}
@keyframes width-back{
    0%{
    width: 11rem;
  }

  100%{
    width: 5rem;
  }
}


.chat-bar{
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 15rem;
  height: 100%;
  right: 0;
  top: 6rem;
  background-color: rgb(0, 78, 141);
  z-index: 3;
  /* box-shadow: 0 0 0.5em 0 rgb(25, 128, 212); */
}
.chat-nav{
  position: fixed;
  width: 15rem;
  height: 5rem;
  bottom: 0;
  background-color:rgb(6, 37, 63);
}

.main-container{
  width: (100%-15rem);
  height: 150%;
  margin-left: 5rem;
  margin-right: 15rem;
  padding-top: 6rem;
  background-color:rgb(29, 70, 77);
}

.last-wins{
  width: 100%;
  height: 5rem;
  background-color: rgb(13, 13, 64);
}
.game{
  /* float: left; */
  /* margin-right: 16rem; */
  width: 100%;
  height: 100%;
  background-color: rgb(13, 36, 61);
}

.winner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  font-size: 35px;
  margin-top: 40px;
  /* background-color: Rgb(15, 15, 36); */
}
.bet-center{
  /* background-color: green; */
  display: flex;
  /* justify-content: space-evenly; */
  /* align-content: space-around; */
  flex-wrap: wrap;
  margin-top: 90px;
  width: 80%;
  gap: 20px 20px;
  /* height: 500px; */
}
.ammount-input{
  height: 40px;
  color: white;
  
}
.change-box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(25, 128, 212);
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
  border: rgb(25, 128, 212) 4px solid;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;

  box-shadow: 0 0 0.5em 0 rgb(25, 128, 212);
}
.balance{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(25, 128, 212);
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
  /* border: rgb(25, 128, 212) 4px solid; */
  width: 100px;
  height: 40px;
  border-radius: 0.25em;
  /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor; */

  /* box-shadow: 0 0 0.5em 0 rgb(25, 128, 212); */
}
.balance::before{
  content: "Stan konta: ";
}
/* .change-box::before{
  content: " ";
  position: absolute;
  background:rgb(25, 128, 212);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
} */
/* .change-box::after{
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em rgb(25, 128, 212);
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
} */
.change-box:hover{
  background-color: rgb(25, 128, 212);
  color: rgb(13, 36, 61);
  text-shadow: none;
}
.ammount-input{
  border-radius: 0.25em;
  background-color: transparent;
  color:  rgb(25, 128, 212);
  border: rgb(25, 128, 212) 4px solid;
  font-size: 20px;
  /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor; */
  box-shadow: 0 0 0.5em 0 rgb(25, 128, 212);
  padding-left: 10px;

}
.ammount-input:focus {
  outline-style: none;
  /* box-shadow: none;
  border-color: transparent;
  background-color: black;
  color: white; */

}

.game-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 50%;
  height: 730px;
}
.game-center{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: Rgb(15, 15, 36);
}
.arrow2{
  position: absolute;
  content: "\1f817";
  color:rgb(43, 84, 219);
  margin-left: 500px;
  margin-top: 44px;
  transform: rotate(180deg);
  z-index: 2;
}
.arrow2::before{
  content: "\27A4";
  font-size: 30px;

}
.game-show{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53%;
  height: 40%;
  background-color: Rgb(15, 15, 36);
  overflow: hidden;
}
.game-cointainer{
  /* margin-top: 50px; */
  width:500px;
  height:500px;
  background-color: rgb(43, 84, 219);
  border-radius : 50%;
  border:15px solid rgb(43, 84, 219);
  position: relative;
  overflow: hidden;
  transition-timing-function: ease;
  transition : 12s;
  z-index: 1;
  /* box-shadow: 0 0 0.5em 0 rgb(25, 128, 212); */

}
.game-cointainer div{
  height:50%;
  width:114px;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0 );
  transform: translateX(-50%);
  transform-origin: bottom;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color:rgb(131, 29, 29);
  left:193px;
  z-index: 3;
  
}

.game-cointainer .one{
  background-color: #161616;
  transform: rotate(0deg);
}
.game-cointainer .two{
  background-color:#121a85;
  transform: rotate(24deg);
}
.game-cointainer .three{
  background-color: #161616;
  transform: rotate(48deg);
}
.game-cointainer .four{
  background-color: #121a85;;
  transform: rotate(72deg);
  }
.game-cointainer .five{
  background-color: #161616;
  transform : rotate(96deg);
}
.game-cointainer .six{
  background-color: #121a85;;
  transform: rotate(120deg);
}
.game-cointainer .seven{
  background-color: #161616;
  transform: rotate(144deg);
}
.game-cointainer .eight{
  background-color: #121a85;;
  transform: rotate(168deg);
}
.game-cointainer .nine{
  background-color: #161616;
  transform: rotate(192deg);
}
.game-cointainer .ten{
  background-color:#121a85;;
  transform: rotate(216deg);
}
.game-cointainer .eleven{
  background-color: #161616;
  transform: rotate(240deg);
}
.game-cointainer .twelve{
  background-color: #121a85;;
  transform: rotate(264deg);
}
.game-cointainer .thirteen{
  background-color: #161616;
  transform: rotate(288deg);
}
.game-cointainer .fourteen{
  background-color: #121a85;;
  transform: rotate(312deg);
}
.game-cointainer .fifteen{
  background-color: #074d22;
  transform: rotate(336deg);
}
.game-cointainer > .parzyste{
  color: rgb(27, 27, 27);
}

.arrow{
  color: white;
  transform: rotate(258deg);
  z-index: 2;
  margin-right: 10px;
  margin-top: 119px;
}
.arrow::before{
  content: "\1f817";
  font-size: 50px;
}
#spin{
  position:absolute;
  /* margin-left: 10%; */
  /* transform: translate(11%, -6%) ; */
  Z-index: 2;
  background-color: rgb(43, 84, 219);
  text-transform: uppercase;
  border:8px solid rgb(13, 48, 161);
  font-weight: bold;
  font-size:28px;
  color:#a2a2a2;
  width: 100px;
  height:100px;
  font-family: sans-serif;
  border-radius : 58%;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
  }




.bet-setup{
  display: flex;
  box-sizing: border-box;
  height: 10rem;
  width: 100%;
  justify-content: space-around;
  padding: 40px;
  background-color: RGB(11, 11, 31);
}
.bet-setup-kids{
  width: 20%;
  height: 100%;
  background: white;
}
/* .bet-ammount{

} */
.bet-control{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bet-control-button{
  width: 10%;
  height: 10%;
  background-color: black;
}


.bets{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60%;
  background-color: rgb(15, 15, 36);
}
.bet-color{
  display: flex;
  flex-direction: column;
  color: rgb(197, 197, 197);
  width: 300px;
  height: 400px;
  box-shadow: 10px 5px 5px black;
  background-color: rgba(0,0,0, 0.4);
  border: 8px solid #444444;
  border-radius: 10px;
}
.bet-red{
  
  border: 8px solid #551e1e;
  /* background-color: rgba(0,0,0, 0.4); */
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
}
.bet-green{
  border: 8px solid #133313;
  /* background-color: green; */
}
.bet-black{
  border: 8px solid #161616;
  /* background-color: black; */
}

.bet-color-top{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 4rem;
  background-color: thistle;
}
.bet-red-top{
  background-color: rgba(95, 11, 11, 0.4);
  border-bottom: 8px solid #551e1e;
  
}
.bet-green-top{
  background-color: rgba(5, 29, 14, 0.4);
  border-bottom: 8px solid #133313;
}
.bet-black-top{
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 8px solid #161616;
}
.set-text{
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 50%;
  /* padding-top: 5%;
  margin-left: 10%; */
  /* background-color: tomato; */
  justify-content: center;
  align-items: center;
}
.confirm-button{

  max-width: 300px;
  display: flex;
  height: 100%;
  width: 50%;        
  /* background-color: #551e1e; */
  justify-content: center;
  align-items: center;
  perspective: 1500px;
}
.flip-card-inner{
  width: 50px;
  height: 50px;
  perspective: 1500px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.front,
.back{
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
  backface-visibility: hidden;
}
.back{
  transform: rotateY(-180deg);
}
.confirm-button img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bet-color-top:hover .flip-card-inner{
  transform: rotateY(180deg);
}

.confirm-button-red{
  background-color: #551e1e;
}
.confirm-button-green{
  background-color: #133313;
}
.confirm-button-black{
  background-color: #161616;
}